<div class="panel">
                      <div class="panel-header">
                        <div class="panel-title text-center text-bold text-large">News</div>
                      </div>
                      <div class="panel-body">
                          <div class="tile">
                              <div class="tile-content">
                                  <a href="#" class="tile-title">Oh I do like to be beside the seaside</a>
                              </div>
                            </div>
                            <div class="tile">
                              <div class="tile-content">
                                  <a href="#" class="tile-title">Oh I do like to be beside the sea</a>
                              </div>
                            </div>
                            <div class="tile">
                              <div class="tile-content">
                                  <a href="#" class="tile-title">Although in the North of England</a>
                              </div>
                            </div>
                            <div class="tile">
                              <div class="tile-content">
                                  <a href="#" class="tile-title">It never stops raining</a>
                              </div>
                            </div>
                      </div>